html, body {
    background-color: black;
}
#favSection button {
    display: none;
}
#button-input {
    border: none;
}
.card {
    background-color: rgb(88, 88, 88);
}
.top {
    margin-top: 20px;
    margin-bottom: 10px;
}
.col-md-9 {
    padding-right: 5px;
}
.col-md-3 {
    padding-left: 5px;
}
.gifDiv {
    margin: 10px;
    background-color: coral;
    padding: 5px;
    border-radius: 5px;
}
button, #add-button {
    margin: 5px;
    background-color: coral;
    border: none;
    border-radius: 5px;
}
.fav {
    background: none;
    color: rgb(161, 59, 161);
    border: none;
    height: 2px;
    margin: 0px;   
    /* padding-right: 20px; */
    /* margin: 0px; */
}
.gifRow {
    padding-left: 15px;
    padding-right: 10px;
}
#favSection .gifDiv {
    margin: 5px 0px;
}
.material-icons {
    margin-top: 2px;
    font-size: 20px;
}
.card-header {
    background-color: lightgrey;
}
.arrow {
    position: relative;
    top: 4px;
}
#addMore {
    margin: 0px;
}
.card-body {
    padding: 10px;
}
@media (max-width: 767.98px) {
    .col-md-3, .col-md-9 {
        /* margin: 10px 0px; */
        padding: 0px 15px;
        margin-bottom: 10px;
    }
}
.card-header:after {
      display: block;
      content: "";
      clear: both;
}
@media (max-width: 260px) {
    #button-input {
        width: 100%;
    }
}
